<div class="card shadow mb-4">
    <div class="card-header py-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Bank Name</th>
                        <th>Rekening</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% banks.forEach(function(bank,index){ %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= bank.nameBank %></td>
                            <td><%= bank.nomerRekening %></td>
                            <td><%= bank.name %></td>
                            <td>
                                <form action="/admin/banks/<%= bank.id %>?_method=DELETE" 
                                    method="POST"
                                    class="form-delete"
                                    >
                                    <button type="button"
                                        class="btn btn-primary btn-sm btn-edit-bank" 
                                        data-toggle="modal"
                                        data-target="#exampleModal"
                                        data-id="<%= bank.id %>"
                                        data-name="<%= bank.name %>"
                                        data-namebank="<%= bank.nameBank %>"
                                        data-nomerrekening="<%= bank.nomerRekening %>"
                                        >
                                        Edit
                                    </button>                               
                                    <button  type="submit" 
                                        class="btn btn-danger btn-sm"
                                        >
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
               
                
            </table>
        </div>
    </div>
</div>

<%- include('addmodal.ejs') %>
