<div class="card shadow mb-4">
    <div class="card-header py-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Popular</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach(function(item,index){ %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= item.title %></td>
                            <td><%= item.price %></td>
                            <td><%= item.country %></td>
                            <td><%= item.city %></td>
                            <td><%= item.isPopular %></td>
                            <td><%= item.categoryId.name %></td>
                            <td>
                                <form action="/admin/items/<%= item.id %>?_method=DELETE" 
                                    method="POST"
                                    class="form-delete"
                                    >
                                    <button type="button"
                                        class="btn btn-success btn-circle btn-sm" 
                                        data-toggle="modal"
                                        data-target="#show-image-modal"
                                        data-id="<%= item.id %>"
                                        data-title="<%= item.title %>"
                                        data-image="<%= item.imageId %>"
                                        >
                                        <i class="fa fa-image"></i>
                                    </button> 
                                    <button type="button"
                                        class="btn btn-primary btn-circle btn-sm btn-edit-bank" 
                                        data-toggle="modal"
                                        data-target="#exampleModal"
                                        data-id="<%= item.id %>"
                                        data-title="<%= item.title %>"
                                        data-city="<%= item.city %>"
                                        data-country="<%= item.country %>"
                                        data-description="<%= item.description %>"
                                        data-categoryid="<%= item.categoryId %>"
                                        >
                                        <i class="fa fa-edit"></i>
                                    </button>                               
                                    <button type="button"
                                        class="btn btn-warning btn-circle btn-sm btn-edit-bank" 
                                        data-toggle="modal"
                                        data-target="#exampleModal"
                                        data-id="<%= item.id %>"
                                        >
                                        <i class="fa fa-plus"></i>
                                    </button>                               
                                    <button  type="submit" 
                                        class="btn btn-danger btn-circle btn-sm"
                                        >
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
               
                
            </table>
        </div>
    </div>
</div>

<%- include('addmodal.ejs') %>
<%- include('showimagemodal.ejs') %>
